[submodule "circuitpython"]
	path = circuitpython
	url = git@github.com:maxgrim/circuitpython.git
[submodule "frozen/Adafruit_CircuitPython_Waveform"]
	path = frozen/Adafruit_CircuitPython_Waveform
	url = https://github.com/adafruit/Adafruit_CircuitPython_Waveform.git
